<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Jim.Localizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Jim.Localizer.Properties.Settings>
            <setting name="DefaultJsRootFolder" serializeAs="String">
                <value>E:\Job\Berza\Accounting\eBroker\Solutions\eTrader\WebClient</value>
            </setting>
            <setting name="DefaultJsReferencePath" serializeAs="String">
                <value>E:\Job\Berza\Accounting\eBroker\Solutions\eTrader\WebClient\client\js\locale\app-en.js</value>
            </setting>
            <setting name="DefaultJsInputFiles" serializeAs="String">
                <value>#
# Direktorijumi zavrsavaju 
# znakom /
#
# Putanje za iskljucenje
# pocinju znakom -
#

client/shared/js/
client/js/
client/cache/cm.js
client/cache/forms.js
-client/js/locale/

#client/lib/dextop/js/
#-client/lib/dextop/js/locale/
</value>
            </setting>
            <setting name="DefaultXmlRootFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultXmlReferencePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultXmlInputFiles" serializeAs="String">
                <value/>
            </setting>
        </Jim.Localizer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
